.page{
    width: 320px;
    display: flex;
}

@media(min-width: 768px){
    .page{
        width: 768px;
        margin: auto;
    }
}

@media(min-width: 1440px){
    .page{
        width: 1440px;
        margin: auto;
    }
}